<link rel="stylesheet" href="/css/header.css">
<header class="header">

    <div id="sidebar" class="sidebar hidden">
        <div class="sidebar-content">
            <button id="board-create-button" class="board-create-button btn">CREATE BOARD...</button>
            <ul class="board-list">
            </ul>
        </div>
    </div>
    <div id="sidebar-overlay" class="sidebar-overlay hidden"></div>

    <nav class="header-left">
        <a id="sidebar-toggle" class="sidebar-toggle hidden">☰</a>

        <a href="/" class="header-logo">TaskManager</a>
        <a href="/about" class="">ABOUT</a>
    </nav>

    <div class="header-right">

        <% if (locals.user) { %>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <%= locals.user || 'Quest' %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>

        <% } else { %>

            <a href="/login" id="login-button" class="btn header-button">LOG IN</a>
            <a href="/signup" id="signup-button" class="btn header-button">SIGN UP</a>

        <% } %>
    </div>
</header>