<link rel="stylesheet" href="/css/board.css"/>
<div class="board">

    <div class="board-header">
        <%= locals.boardName %>
    </div>

    <div class="main-container">
        <div id="column-container" class="column-container">

            <div id="column-create-container">
                <button id="column-create-button" class="btn">Create Board</button>
            </div>
        </div>
    </div>

</div>

<template id="board-column-template">
    <div class="board-column">
        <div class="column-header">
            <h3 id="title"></h3>
            <button data-add><i class="bi bi-plus"></i></button>
        </div>
        <div class="tasks"></div>
    </div>
</template>

<script src="/js/board.js" defer></script>